<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="style.css">
	</head>
	<body id="page-top" ng-app="directoryApp">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="#page-top">UF Directory App</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="#search">Search</a>
					</li>
					<li>
						<a class="page-scroll" href="#addlisting">Add Listing</a>
					</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<div class="container">
		    <div class="intro-text">
		        <div class="intro-heading" id="search">UF Directory App</div>
		    </div>
		</div>

		<div class="container">
		    <div class="row" ng-controller="ListingsController">
		        <div class="col-md-6">
		         	<div class="input-group" id="searchBar">
						<span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
						<!--filter for the search bar is called query-->
						<input type="text" class="form-control" placeholder="Search" ng-model="query">
					</div>
					<div class="tableWrapper">
			            <table class="table table-striped table-hover">
							<tr>
								<th>Delete</th>
								<th>Code</th>
								<th>Building Name</th>
								<th>Detailed Information</th>
								<th></th>
							</tr>
							<!--filter is applied-->
							<tr ng-repeat="listing in listings | filter:query">
			                	<!--populate the rows with the code and name of each listing-->
			                	<!--way to remove individual listings-->
			                    <td><button ng-click="deleteListing($index)">Delete</button></td>
			                	<td>{{listing.code}}</td>
			                	<td>{{listing.name}}</td>
			                    <td><button ng-click="showDetails($index)">Show</button></td>
							</tr>
						</table>
			        </div>
		        	<!--adds new listings to the directory-->
		        	<div class = newListing>
						<h3 id="addlisting">Add Listing</h3>
					    <input type="text" placeholder="Code:" ng-model="newCode">
					    <input type="text" placeholder="Building Name:" ng-model="newBuildingName">
					    <input type="text" placeholder="New Latitude:" ng-model="newLatitude">
					    <input type="text" placeholder="New Longitude:" ng-model="newLongitude">
					    <input type="text" placeholder="New Address:" ng-model="newAddress">
					    <button ng-click="addListing()">Add listing</button>
					 </div>  
		        </div>
		        <div class="col-md-6">
					<div class="jumbotron">
						<h3>Detailed Information</h3>
		           		<!--displays detailed information about an individual listing-->
						<div class="tableWrapper" ng-show="wantDetails">
							<table class="table table-striped table-hover">
								<tr>
									<th>Latitude</th>
									<th>Longitude</th>
									<th>Address</th>
									<th></th>
								</tr>
								<tr ng-model="detailedLat" ng-model="detailedLon" ng-model="detailedAdd">
									<td>{{detailedLat}}</td>
									<td>{{detailedLon}}</td>
									<td>{{detailedAdd}}</td>
								</tr>
							</table>
						</div>
		          </div>
		        </div>
		    </div>
    	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
	</body>
</html>